extends layout

block content
    #outer-body
        #title-bar DOTA
            span#title-part2 PUFF
        #comparison-wrapper(ng-controller='sideBySideController')
            div.mini-title Player Side-by-side
        #playerlist-wrapper(ng-controller='playerListController')
            div.mini-title Peer List
