extends layout

block content
    #outer-body(ng-controller='controller')
        #title-bar DOTA
            span#title-part2 PUFF
        #comparison-wrapper
            div.mini-title Side-by-side Comparison
            #stats-area
                #player-left
                    img(ng-src='{{playerLeft.avatar}}')
                    div {{playerLeft.name}}
                    div.legend
                #player-right
                    img(ng-src='{{playerRight.avatar}}')
                    div {{playerRight.name}}
                    div.legend
                #stats-display(ng-show='!isLoadingLeft && !isLoadingRight')
                    canvas(class='chart chart-line' chart-data='chartData' chart-labels='chartLabels' chart-series='chartSeries' chart-options='chartOptions' chart-colours='chartColours')
                #loading-display(ng-show='isLoadingLeft || isLoadingRight') Loading player stats, please wait...
                    img(src='/img/loading.png')
            #comparison-types
                div(ng-class="mode === 'kda' ? 'selected' : ''" ng-click="changeMode('kda')") KDA
                div(ng-class="mode === 'gpm' ? 'selected' : ''" ng-click='changeMode(\'gpm\')') GPM
                div(ng-class="mode === 'xpm' ? 'selected' : ''" ng-click='changeMode(\'xpm\')') XPM
                div(ng-class="mode === 'lasthits' ? 'selected' : ''" ng-click='changeMode(\'lasthits\')') LAST HITS
                div(ng-class="mode === 'denies' ? 'selected' : ''" ng-click='changeMode(\'denies\')') DENIES
        #playerlist-wrapper
            div.mini-title Recent Peers
                #search-bar
                    input(type='text' placeholder='Steam ID' ng-model='searchID')
                    img(src='/img/search.png' ng-click="loadPeers(searchID)")
            div.player-wrapper(ng-repeat='player in players')
                img.btn-choose-left(src='img/arrow-left.png' ng-click='changeLeftPlayer(player.id)')
                img.player-avatar(src='{{player.avatar}}')
                div.player-info
                    div.player-name {{player.name}}
                    div.player-id &#35{{player.id}}
                img.btn-choose-right(src='img/arrow-right.png' ng-click='changeRightPlayer(player.id)')
