body {
  color: white;
  background-color: rgb(19, 24, 35);
  font-family: "Open Sans";
  margin: 0;
}

#outer-body {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(51, 55, 67);
}

#title-bar {
  font-size: 2em;
  font-weight: 900;
  background-color: rgb(40, 45, 56);
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  margin-bottom: 20px;
}

span#title-part2 {
  color: rgb(58, 192, 218);
}

.mini-title {
  background-color: rgb(43, 61, 79);
  height: 25px;
  line-height: 25px;
  font-size: 10pt;
  font-weight: 900;
  padding-left: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#comparison-wrapper {
  height: 200px;
}

#playerlist-wrapper {
}

.player-wrapper {
  border-bottom: 2px solid grey;
}

.player-avatar {
  max-width: 50px;
  margin-right: 7px;
}

div.player-info {
  display: inline-block;
  vertical-align: top;
}

div.player-name {
  font-size: 10pt;
  font-weight: 900;
  margin-bottom: 5px;
  line-height: 10px;
}

div.player-id {
  color: rgb(145, 160, 173);
  font-size: 8pt;
  line-height: 10px;
  font-weight: 900;
}

img.btn-choose-left {
  max-height: 15px;
  background-color: darkgrey;
  border: 2px solid #807878;
  vertical-align: top;
  margin-right: 10px;
}

img.btn-choose-left:hover {
  background-color: rgb(22, 197, 54);
  cursor: pointer;
}

img.btn-choose-right {
  max-height: 15px;
  background-color: darkgrey;
  border: 2px solid #807878;
  vertical-align: top;
  float: right;
}

img.btn-choose-right:hover {
  background-color: rgb(22, 197, 54);
  cursor: pointer;
}
