body {
  background-color: rgb(19, 24, 35);
  font-family: "Open Sans";
  margin: 0;
}

#outer-body {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#title-bar {
  font-size: 2em;
  font-weight: 900;
  background-color: rgb(40, 45, 56);
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  color: white;
}

span#title-part2 {
  color: rgb(58, 192, 218);
}
