body {
  color: white;
  background-color: rgb(19, 24, 35);
  font-family: "Open Sans";
  margin: 0;
}

#outer-body {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(51, 55, 67);
}

#title-bar {
  font-size: 2em;
  font-weight: 900;
  background-color: rgb(40, 45, 56);
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  margin-bottom: 20px;
}

span#title-part2 {
  color: rgb(58, 192, 218);
}

.mini-title {
  background-color: rgb(43, 61, 79);
  height: 25px;
  line-height: 25px;
  font-size: 10pt;
  font-weight: 900;
  padding-left: 10px;
  text-transform: uppercase;
  position: relative;
}

#comparison-wrapper {
  margin-bottom: 20px;
}

#playerlist-wrapper {
}

.player-wrapper {
  border-bottom: 1px solid rgb(39, 35, 35);
  padding-top: 5px;
  padding-left: 30px;
  position: relative;
}

.player-avatar {
  max-width: 50px;
  margin-right: 7px;
}

div.player-info {
  display: inline-block;
  vertical-align: top;
}

div.player-name {
  font-size: 10pt;
  font-weight: 900;
  margin-bottom: 5px;
  line-height: 10px;
}

div.player-id {
  color: rgb(145, 160, 173);
  font-size: 8pt;
  line-height: 10px;
  font-weight: 900;
}

img.btn-choose-left {
  width: 14px;
  height: 17px;
  background-color: rgb(122, 125, 128);
  border: 1px solid #807878;
  vertical-align: top;
  margin-right: 10px;
  position: absolute;
  top: 5px;
  left: 0;
}

img.btn-choose-left:hover {
  background-color: rgb(22, 197, 54);
  cursor: pointer;
}

img.btn-choose-right {
  width: 14px;
  height: 17px;
  background-color: rgb(122, 125, 128);
  border: 1px solid #807878;
  vertical-align: top;
  position: absolute;
  top: 5px;
  right: 0;
}

img.btn-choose-right:hover {
  background-color: rgb(22, 197, 54);
  cursor: pointer;
}

#stats-area {
  position: relative;
  background-color: rgb(33, 33, 53);
}

#comparison-types {
  background-color: rgb(52, 64, 76);
}

#comparison-types div {
  display: inline-block;
  font-size: 9pt;
  font-weight: 900;
  padding: 2px 8px 2px 4px;
  line-height: 21px;
}

#comparison-types div.selected {
  background-color: rgb(33, 33, 53);
}

#comparison-types div:hover {
  background-color: rgb(33, 33, 53);
  cursor: pointer;
}

#player-left {
  margin: 7px;
  margin-left: 10px;
  margin-top: 20px;
  width: 50px;
  left: 0;
  position: absolute;
}

#player-left img {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

#player-left div {
  font-size: 7pt;
  font-weight: 500;
  text-align: center;
}

#player-left div.legend {
  background-color: rgba(255, 0, 0, 1);
}

#player-right {
  margin: 7px;
  margin-right: 10px;
  margin-top: 20px;
  position: absolute;
  right: 0;
}

#player-right img {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

#player-right div {
  font-size: 7pt;
  text-align: center;
  font-weight: 500;
}

#player-right div.legend {
  background-color: rgba(0, 255, 0, 1);
}

div.legend {
  height: 5px;
  border-radius: 10px;
  margin-top: 10px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}

#stats-display {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

#stats-display p {
  text-align: center;
  margin-top: -5px;
  font-size: 10pt;
  font-weight: 700;
  font-style: italic;
  color: rgb(169, 169, 169);
}

#loading-display {
  width: 600px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  text-align: center;
  line-height: 200px;
  font-size: 16pt;
  font-style: italic;
}

#loading-display img {
  margin-left: 20px;
  max-width: 50px;
  vertical-align: middle;
  -webkit-animation: spin 3s infinite linear;
  -moz-animation: spin 3s infinite linear;
  -o-animation: spin 3s infinite linear;
  animation: spin 3s infinite linear;
}

@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

canvas.chart-line {
  height: 200px;
}

#search-bar {
  position: absolute;
  right: 1px;
  top: -1px;
}

#search-bar img {
  max-height: 15px;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

#search-bar img:hover {
  background-color: rgb(22, 197, 54);
}

#search-bar input {
  height: 10px;
  font-family: "Open Sans";
  font-size: 8pt;
  font-weight: 900;
  width: 65px;
  background-color: rgb(187, 200, 212);
}

::-webkit-input-placeholder {
   color: rgb(43, 61, 79);
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgb(43, 61, 79);
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(43, 61, 79);
   font-style: italic;
}

::-ms-input-placeholder {  
   color: rgb(43, 61, 79);
   font-style: italic;
}
